
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(./neve.png);
}

.header{
    overflow: hidden;
    margin: auto;
   
    background:rgb(0, 255, 234);
    
    font-size: 18px;
}
.menu{
   border: bottom 5px;
    list-style: none;
    float: right;
}
li{
    display: inline-block;
    color: white;
    margin-right: 15px;
}
.logo{
     text-align: center;
    color: white;
    font-size: 30px;
    }
    section{
    padding: 20px;
    
    background-size: cover;
overflow: hidden;

    }
    #texto{
    text-align: justify;   
    margin: 10px;
    }
    #texto2{
        text-align:justify;
    }
        .formcontainer1{
           max-width: 300px;
           background-color:#0000ffbb;
           padding: 20px;
           float: left;
        }
        .whatsapp-link{
            position:fixed;
            width:60px ;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #25d366;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 1px 1px 2px #888;
           z-index: 1000; 
        }
        .fa-whatsapp{
            margin-top: 16px;
        }
